<div class="good-box border border-dark rounded">

  <div class="good-content d-flex align-items-start flex-column">
    <div class="good-title">
      <p class="text-dark"><%= product.title %></p>
    </div>
    <div class="body">
      <%= product.text %>
    </div>
    <div class="good-info d-flex container justify-content-between">
      <p class=""><%= t('product.body.price') %>: <%= product.price %></p>
      <span><%= link_to t('product.sale'), new_description_path(id: product.id), class: 'btn btn-danger', type: 'button' %></span>
    </div>
  </div>
</div>