<%= render 'head', user: @user %>

<main role="main" class="d-flex justify-content-center container">
  <div class="row container d-flex justify-content-between">
    <div class="col-4 name-page">
      <h4>Sale</h4>
    </div>

    <div class="body-page col-12">
    <%= form_for :description, url: {action: 'create'} do |f| %>
      <div class="form-group row">
        <%= f.label t('description.form.start_price'), class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.number_field :price, step: :any, class: 'form-control', placeholder: @product.price.to_s %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label t('description.raise_by'), class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.number_field :raise_by, step: :any, class: 'form-control', placeholder: '0.5' %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label t('description.form.descr'), class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.text_area :text, class: 'form-control', placeholder: 'Text Description', rows: '8' %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label t('description.form.time_end'), class: 'col-sm-3 col-form-label' %>
        <div class="col-sm-9">
          <%= f.datetime_field :time_end, class: 'form-control' %>
        </div>
      </div>

        <%= f.hidden_field :product, value: @product.id %>
      <%= f.submit t('description.form.sale'), class: 'btn btn-primary mb-2 btn-dark reg-btn' %>
    <% end %>
    </div>


  </div>
</main>