<%= render 'head' %>
<main role="main" class="d-flex justify-content-center container">
  <div class="row container d-flex justify-content-between">
    <div class="col-9 row">
      <div class="col-4 name-page">
        <h4><%= t('registration.name') %></h4>
      </div>

      <%= form_with(model: @user, local: true, class: "body-page col-12") do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <%= form.label t('registration.username'), class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= form.text_field :username, class: 'form-control', placeholder: 'kotik226' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('registration.password'), class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= form.password_field :password, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label t('registration.repeat_password'), class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3"></div>
          <%= form.submit t('registration.sign_up'), class: 'btn btn-primary mb-2 btn-dark reg-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%#= link_to 'Back', users_path %>
