
<h1>Лабораторная работа №12 #input</h1>
<p>
Написать программу, определяющую количество целых чисел ≤ n (n вводится с клавиатуры), квадрат которых является палиндромом. Например: 26^2 = 676. Вывести на печать числа, квадраты и их количество.
</p>
<%= form_tag("/logic/view", :method => "get") do %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
  <p id=”notice”><%= notice %></p>
  <%= label_tag("Число n:") %>
  <%= text_field_tag(:n) %> <br/>
  <p></p>
  <%= submit_tag("Найти палиндромы") %>
<% end %>