<%= render 'head' %>
<main role="main" class="d-flex justify-content-center container">
  <div class="row container d-flex justify-content-between">
    <div class="name-page col-12">
      <h4>Log in</h4>
    </div>

    <%= form_with url: session_create_url, method: :post, local:true, class: "col-9" do |f| %>
      <div class="form-group">
        <label for="inputName">Nick name</label>
        <%= f.text_field :username, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <%= f.password_field :password, required: true, class: "form-control" %>
      </div>
      <%= f.submit :login, required: true, class: "btn btn-primary btn-dark" %>

      <div class="new-account">
        <span class=""><%= link_to 'create new account', new_user_path, class: "text-dark" %></span>
      </div>
    <% end %>


  </div>
</main>

